@tailwind base;
@tailwind components;
@tailwind utilities;



.input {
  @apply w-full p-2 border rounded;
}


@keyframes scrollText {
  0% { transform: translateY(100%); opacity: 0; }
  20% { transform: translateY(0); opacity: 1; }
  80% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-100%); opacity: 0; }
}

.animate-scrollText {
  animation: scrollText 5s linear infinite;
}


.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
}

.delay-3 {
  animation-delay: 3s;
}


